[book]
title = "KeiSeiKit Project Hub — ${USER}"
authors = ["${USER}"]
language = "en"
src = "${DATA}/src"

[output.html]
default-theme = "navy"
preferred-dark-theme = "navy"
git-repository-icon = "fa-github"
mathjax-support = false

[output.html.fold]
enable = true
level = 1
